<div class="jumbotron">
    <h1 class='text-center'>Bootcamp Trivia</h1><br>
    <p class='text-center'>
        <a id="button1" type="submit" class="btn btn-danger" href="/trivia">Single Player</a>
        <button id="button2" type="submit" class="btn btn-danger" value="Play Game" disabled>Multi Player(coming
            soon...)</button>
        <a href="/add" id="add" class="btn btn-danger">Add Question</a>
    </p>
</div>


