<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">OS Games</a>
    </div>
    <div class="float-right">
      <a href="/auth/google" class="btn btn-lg btn-block omb_btn-google">
        <i class="fab fa-google-plus visible-xs"></i>
        <span class="hidden-xs">Login with Google+</span>
      </a>
    </div>
  </div>
  </div>
</nav>