<div class="jumbotron text-xs-center">
  <h1 class="display-3">Thank You for Submitting your Question</h1>
  <p class="lead">Our team will work to verify this question and then add it to rotation.</p>
  <hr>
  <p class="lead">
    <a class="btn btn-primary" href="/" role="button">Go to Homepage</a>
  </p>
</div>